<% include ./partials/header %>

<% include ./partials/navbar %>
<div class="container">
  <div class="card text-center mt-5">
    <div class="card-body">
      <div class="jumbotron">
        <h1 class="display-3">Saludos!</h1>
        <p class="lead">Esta es una aplicación web construida solo con tecnologas de Javascript, su función prinpial es realizar registro de llamadas y conservar un historial.</p>
        <hr class="my-4">
        <p>Mi nombre es Jonahan Simanca y soy estudiante de analisis y desarrollo de sistemas de información, me encata programar y si te gusto mi trabajo te invito a conocerme.</span></p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="https://www.linkedin.com/in/jonathinsm/" role="button">Contactame</a>
        </p>
      </div>
    </div>
  </div>
</div>

<% include ./partials/footer %>
