<% include ./partials/header %>

<% include ./partials/navbar %>
<div class="container">
  <div class="card text-center mt-5">
    <div class="card-body">
      <div class="jumbotron">
        <h1 class="display-3">Saludos!</h1>
        <p class="lead">Esta aplicación web se construyó con tecnólogas de JavaScript, su función principal es realizar registro de llamadas y conservar un historial.</p>
        <hr class="my-4">
        <p>Soy Jonathan, estudio análisis y desarrollo de sistemas de información y me encanta programar, si te gusta lo que hago te invito a contactarme.</span></p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="https://www.linkedin.com/in/jonathinsm/" role="button"><i class="fab fa-linkedin"></i></a>
        </p>
      </div>
    </div>
  </div>
</div>

<% include ./partials/footer %>
