<!-- Pagina que se carga al iniciar sesion y donde se registran las llamadas -->
<!DOCTYPE html>
<html lang="en">
<% include ./partials/head %>
<body>
<% include ./partials/navbar %>
<div class="container">
  <div class="card text-center mt-5">
    <div class="card-body">
      <h3>Registar llamada</h2>
        <div class="container">
          <div class="row">
            <div class="col-md-6 mt-4 card">
              <form class="card-body" action="/newcall" method="post">
                <h4 class="card-title">Registrar</h4>
                <div class="form-group">
                  <input id="first" type="text" name="customer" class="form-control form-control-sm" placeholder="Nombre">
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="topic" id="exampleTextarea" rows="3" placeholder="Asunto" ></textarea>
                </div>
                <div class="form-group">
                  <input type="text" name="idcard" class="form-control form-control-sm" placeholder="Cedula">
                </div>
                <div class="form-group">
                  <input type="text" name="local" class="form-control form-control-sm" placeholder="Localidad">
                </div>
                <div class="form-group">
                  <input type="text" name="school" class="form-control form-control-sm" placeholder="Colegio">
                </div>
                <div class="form-group">
                  <label for="exampleSelect1">Sede</label>
                  <select class="form-control" name="place">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                  </select>
                </div>
                <div class="form-group">
                  <input type="text" name="area" class="form-control form-control-sm" placeholder="Area">
                </div>
                <div class="form-group">
                  <input type="text" name="phone" class="form-control form-control-sm" placeholder="Teléfono">
                </div>
                <div class="form-group">
                  <input type="text" name="schedule" class="form-control form-control-sm" placeholder="Horario">
                </div>
                <div class="form-group">
                  <input type="text" name="address" class="form-control form-control-sm" placeholder="Dirección">
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="note" id="exampleTextarea" rows="3" placeholder="Notas" ></textarea>
                </div>
                <div class="form-group">
                  <input type="text" name="caseid" class="form-control form-control-sm" placeholder="Casos">
                </div>
                <div class="form-group">
                  <input type="hidden" name="agent" value="<%= user._id%>">
                </div>
                <input type="submit" value="Guardar" class="btn btn-primary">
              </form>
            </div>
            <div class="col-md-6 mt-4 card">
              <div class="form-group">
                <label for="exampleTextarea">Otras Notas</label>
                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
              </div>
            </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  document.getElementById('first').focus();
</script>
</body>
</html>
