<!-- Pagina que se carga al iniciar sesion y donde se registran las llamadas -->

<% include ./partials/header %>

<% include ./partials/navbar %>

<div class="container">
  <div class="card text-center mt-5">
    <div class="card-body">
      <h3>Ficha de registro</h2>
        <div class="container">
          <div class="row">
            <div class="col-md-6 mt-4 card">
              <form class="card-body" action="/newcall" method="post">
                <h4 class="card-title">Datos de la llamada</h4>
                <div class="form-group">
                  <input id="first" type="text" name="customer" class="form-control form-control-sm" placeholder="Nombre">
                </div>
                <div class="form-group">
                  <textarea class="form-control form-control-sm" name="topic" rows="3" placeholder="Asunto" ></textarea>
                </div>
                <div class="form-group">
                  <input type="text" name="idcard" class="form-control form-control-sm" placeholder="Cédula">
                </div>
                <% include ./partials/places %>
                <div class="form-group">
                  <input type="text" name="school" class="form-control form-control-sm" placeholder="Colegio">
                </div>
                <div class="form-group">
                  <label for="exampleSelect1">Sede</label>
                  <select class="form-control form-control-sm" name="place">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                  </select>
                </div>
                <div class="form-group">
                  <input type="text" name="area" class="form-control form-control-sm" placeholder="Área">
                </div>
                <div class="form-group">
                  <input type="text" name="phone" class="form-control form-control-sm" placeholder="Teléfono">
                </div>
                <div class="form-group">
                  <input type="text" name="schedule" class="form-control form-control-sm" placeholder="Horario">
                </div>
                <div class="form-group">
                  <input type="text" name="address" class="form-control form-control-sm" placeholder="Dirección">
                </div>
                <div class="form-group">
                  <textarea class="form-control form-control-sm" name="note" rows="3" placeholder="Notas" ></textarea>
                </div>
                <div class="form-group">
                  <input type="hidden" name="caseid" class="form-control form-control-sm" placeholder="Casos">
                </div>
                <div class="form-group">
                  <input type="hidden" name="user" value="<%= user._id%>">
                </div>
                <input type="submit" value="Guardar" class="btn btn-primary">
              </form>
            </div>
            <div class="col-md-6 mt-4 card">
              <div class="container">
                <div class="card-body">
                  <br>
                  <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                    <div class="card-header">Información</div>
                    <div class="card-body">
                      <h4 class="card-title">Cuentas Maestras</h4>
                      <p class="card-text">Es necesario que los rectores se comuniquen con los bancos para revisar los requerimientos técnicos para la cuenta maestra  e ingreso a su portal bancario, se requiere que esta información sea oficiada mediante un correo a ALICIA AIDEE CASTRO LOPEZ acastrol@educacionbogota.gov.co con copia a MHARYORHY ALEJANDRA ROMERO MUÑOZ maromero@educacionbogota.gov.co o mediante un oficio dirigido a la OAREDP.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  document.getElementById('first').focus();

</script>

<% include ./partials/footer %>
