<!DOCTYPE html>
<html lang="en">
<title>Pagina de perfil</title>
<% include partials/head %>
<body>
  <div class="container">
    <header class="text-center">
      <h1>Pagina de perfil</h1>
      <a href="/logout" class="btn btn-light btn-sm">
        Salir
      </a>
    </header>
    <hr>
    <div class="container">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">
              <span class="fa fa-user">Local</span>
              <p>
                <strong>id</strong>:<%= user._id%> <br>
                <strong>Usuario</strong>:<%= user.login%> <br>
                <strong>password</strong>:<%= user.password%>
              </p>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
