<!-- Esta pagina contiene la información de perfil de usuario y permite actualizarlo -->

<% include partials/header %>

<% include ./partials/navbar %>
  <div class="container">
    <header class="text-center">
      <h1>Pagina de perfil</h1>
    </header>
    <hr>
    <div class="container">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">
              <span><i class="fas fa-user"></i> Agente</span>
              <p>
                <strong>Login: </strong><%= user.login%> <br>
                <strong>Nombre: </strong><%= user.nameuser%>
                <form class="" action="/update" method="post">
                  <input type="hidden" name="id" value="<%= user.id%>">
                  <input class="form-control" type="text" name="name" placeholder="Nombre">
                  <input class="btn btn-primary" type="submit"  value="Actualizar">
                </form>
              </p>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
<% include ./partials/footer %>
