


<script src="/js/clipboard.min.js"></script>
<script type="text/javascript">

  var clipboard = new ClipboardJS('.btn');

  clipboard.on('success', function(e) {
      console.info('Action:', e.action);
      console.info('Text:', e.text);
      console.info('Trigger:', e.trigger);

      e.clearSelection();
  });

  clipboard.on('error', function(e) {
      console.error('Action:', e.action);
      console.error('Trigger:', e.trigger);
  });

</script>
<hr class="my-4">
<footer class="container-fluid text-center bg-lightgray">

        <div class="copyrights" style="margin-top:25px;">
            <p>Bogota City © 2016
                <br>
                <span>Made By: Jonathan Simanca</span></p>
            <p><a href="https://www.linkedin.com/in/jonathinsm/" target="_blank">Linkedin <i class="fab fa-linkedin" aria-hidden="true"></i> </a></p>
            <p>Based on
              <a href="https://bootswatch.com/flatly/" rel="nofollow">Bootswatch</a>. Icons from
              <a href="http://fontawesome.io/" rel="nofollow">Font Awesome</a>. Web Architecture
              <a href="https://nodejs.org/en/" rel="nofollow">NodeJs</a>.
              <a href="https://www.mongodb.com/" rel="nofollow">MongoDB</a>.</p>
        </div>
</footer>
</body>
</html>
