<div class="form-group">
  <label for="exampleSelect1">Localidad</label>
  <select class="form-control form-control-sm" name="local">
    <option value="01-Usaquen">01-Usaquen</option>
    <option value="02-Chapinero">02-Chapinero</option>
    <option value="03-Santafe">03-Santafe</option>
    <option value="04-San Cristobal">04-San Cristobal</option>
    <option value="05-Usme">05-Usme</option>
    <option value="06-Tunjuelito">06-Tunjuelito</option>
    <option value="07-Bosa">07-Bosa</option>
    <option value="08-Kennedy">08-Kennedy</option>
    <option value="09-Fontibon">09-Fontibon</option>
    <option value="10-Engativa">10-Engativa</option>
    <option value="11-Suba">11-Suba</option>
    <option value="12-Barrios Unidos">12-Barrios Unidos</option>
    <option value="13-Teusaquillo">13-Teusaquillo</option>
    <option value="14-Los martires">14-Los martires</option>
    <option value="15-Antonio Nari침o">15-Antonio Nari침o</option>
    <option value="16-Puente Aranda">16-Puente Aranda</option>
    <option value="17-La candelaria">17-La candelaria</option>
    <option value="18-Rafael Uribe">18-Rafael Uribe</option>
    <option value="19-Ciudad Bolivar">19-Ciudad Bolivar</option>
    <option value="20-Sumapaz">20-Sumapaz</option>
    <option value="21-Nivel Central">21-Nivel Central</option>
    <option value="22-Centro de gesti칩n">22-Centro de gesti칩n</option>
  </select>
</div>
